{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View your cart</p>
            </div>
        </div>
    </header>
    <br/><br/>
    {% if cart_products %}
        {% for item in cart_products %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ item.images.url }} " width="200" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="text-center">
                                <br/>
                                {{ item.price }} BGN
                                <br/>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-2">Quantity</div>
                                <div class="col-md-2">
                                    <select class="form-select form-select-sm" id="select{{ item.id }}">
                                        {% for key, value in quantities.items %}
                                            {% if key ==  item.id|slugify %}
                                                <option selected>{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <center>
                            <button type="button" data-index="{{ item.id }}" class="btn btn-secondary update-cart">
                                Update
                            </button>
                            <button type="button" data-index="{{ item.id }}" class="btn btn-danger delete-product">
                                Remove
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h3 align="left">Total: {{ totals }} BGN</h3>
    {% else %}
        <center>
            <h2>Your Cart Is Empty</h2>
        </center>
    {% endif %}
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <script>
        // Update Cart
        $(document).on('click', '.update-cart', function (e) {
            e.preventDefault();
            var itemid = $(this).data('index');
            var quantity = $('#select' + itemid + ' option:selected').text();

            $.ajax({
                type: 'POST',
                url: '{% url 'cart_update' %}',
                data: {
                    item_id: itemid,
                    item_qty: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
        });

        $(document).on('click', '.delete-product', function (e) {
            e.preventDefault();
            var itemid = $(this).data('index');

            $.ajax({
                type: 'POST',
                url: '{% url 'cart_delete' %}',
                data: {
                    item_id: itemid,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
        });
    </script>
{% endblock %}
