{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mb-4">Add Post</h1>
                <form action="{% url 'add-post' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Title</label>
                        <input type="text" name="title" id="id_title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_content" class="form-label">Content</label>
                        <textarea name="content" id="id_content" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="id_photo" class="form-label">Photo</label>
                        <input type="file" name="photo" id="id_photo" class="form-control">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Add Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
