{% extends 'base.html' %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="text-center">
            <br/><br/>
            <h1 id="page-title">Merchandise</h1>
            <div class="categories-container">
                <br/><br/>
                <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center" id="categories"></div>
            </div>
            <div class="merchandise-container">
                <br/><br/>
                <div class="row row-cols-1 row-cols-md-5 g-4" id="merchandise-items"></div>
                <br/><br/>
            </div>
        </div>
    </div>

    <style>
        .categories-container {
            transition: width 0.5s ease-in-out;
        }

        .merchandise-container {
            display: none;
        }

        .categories-small {
            width: 50%;
        }

        .categories-full {
            width: 100%;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function loadMerchandiseItems(category) {
                $('.categories-container').addClass('categories-small');
                $('.categories-container').removeClass('categories-full');

                $.ajax({
                    url: `/api/merchandise/${category}/`,
                    type: 'GET',
                    success: function (data) {
                        $('#page-title').text(category);
                        $('#merchandise-items').empty();
                        data.forEach(function (item) {
                            $('#merchandise-items').append(`
                            <div class="col">
                                <div class="card">
                                    <img src="${item.images}" alt="${item.name}">
                                    <div class="card-body">
                                        <h5 class="card-title">${item.title}</h5>
                                        <p class="card-text">${item.price} BGN</p>
                                        <select class="form-select form-select-sm qty-cart" data-item-id="${item.id}">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                        <button type="button" value="${item.id}" class="btn btn-secondary add-cart">Add to cart</button>
                                    </div>
                                </div>
                            </div>`);
                        });
                        $('.merchandise-container').fadeIn('slow');
                        $('.fade-line').width($('.categories-container').width());
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }

            $.ajax({
                url: '{% url "category-list" %}',
                type: 'GET',
                success: function (data) {
                    data.forEach(function (category) {
                        $('#categories').append(`
                        <div class="col">
                            <div class="card">
                                <img src="${category.images}" class="card-img-top" alt="${category.name}">
                                <div class="card-body">
                                    <h5 id="${category.name}" class="card-title text-decoration-none">${category.name}</h5>
                                </div>
                            </div>
                        </div>`);
                    });

                    $('.card-title').click(function () {
                        var category = $(this).attr('id');
                        loadMerchandiseItems(category);
                        setTimeout(function () {
                            $('.categories-container').addClass('justify-content-center');
                        }, 100);
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });

            $(document).on('click', '.add-cart', function (e) {
                e.preventDefault();
                var itemId = $(this).val(); // Get the value of the clicked button (item ID)
                var itemQty = $(this).closest('.card').find('.qty-cart').val(); // Get the quantity from the corresponding select element
                console.log('Item ID:', itemId);
                console.log('Item Quantity:', itemQty);
                $.ajax({
                    type: 'POST',
                    url: '{% url 'cart_add' %}',
                    data: {
                        item_id: itemId,
                        item_qty: itemQty,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                    },
                    success: function (json) {
                        document.getElementById("cart_quantity").textContent = json.qty;
                        location.reload();
                    },
                    error: function (xhr, errmsg, err) {
                        console.error(errmsg);
                    }
                });
            });
        });
    </script>

{% endblock %}
